<!DOCTYPE html>
<html>
<head>
    <title>Loyalty Points Management</title>
</head>
<body>
    <h1>Loyalty Points Management</h1>
    <table>
        <thead>
            <tr>
                <th>Contact ID</th>
                <th>Points</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for point in points %}
            <tr>
                <td>{{ point.contactId }}</td>
                <td>{{ point.points }}</td>
                <td>
                    <form action="/admin/loyalty/update" method="post">
                        <input type="hidden" name="contactId" value="{{ point.contactId }}">
                        <input type="number" name="points" value="{{ point.points }}">
                        <button type="submit">Update</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
